@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: normal;
  src: url("src/fonts/GmarketSansTTFMedium.ttf");
}

@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: bold;
  src: url("src/fonts/GmarketSansTTFBold.ttf");
}

@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: lighter;
  src: url("src/fonts/GmarketSansTTFLight.ttf");
}
